<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.number_field :number %>
    <%= f.select :multiplier, [['Select', 'none'], ['Minutes', 'minutes'], ['Hours', 'hours'], ['Days', 'days'], ['Weeks', 'weeks']] %> Before
  </div>
  <div class="field">
    <br>
    <%= f.label :notification_type %><br>
    <%= f.select :notification_type, [['Email', 'email'], ['Text', 'text']] %>
  </div>
  <div class="field">
    <%= f.hidden_field :appointment_id, value: @appointment.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <br>
    <%= f.submit %>
  </div>
<% end %>
