<p id="notice"><%= notice %></p>

<p>
  <h2>Notification: <%= @notification.appointment.event %></h2>
</p>

<p>
  <strong>Time:</strong>
  <%= @notification.time %>
</p>

<p>
  <strong>Notification Type:</strong>
  <%= @notification.notification_type %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', appointment_notifications_path(@notification.appointment) %>
