<!DOCTYPE html>
<html>
<head>
  <title>AppointMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="alert"><%= alert %></p>
  <div class="menubar">
    <ul class="menubar">
      <li class='nav'><%= link_to 'Home', root_path %></li>
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </div>
  <%= yield %>

</body>
</html>
